<div class="container">
  <h1>About Me</h1>
</div>


<div class="content">
<div class="center_content">
<img class="About Me" src=assets/>Profile2.jpg"/>
<p id="about_me_text">My Name is Sindhu Binil. I was born and brought up in India. 
<br/>>
<br/>>
Currently living in Kingston, Ontario. I love music, movies, travelling.
<br/>>
<br/>>
I dream to become a great web developer an gave back to the society</p>
</div>
</div>