<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 -->


<div class="container">
  <h1>About Me</h1>
</div>

<br>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h4>My Name is Sindhu Binil. I was born and brought up in India. Currently living in Kingston, Ontario. I love music, movies, travelling.</h4>
<img src="Assets/images/Profile2.jpeg" alt="personal picture" style="float:right" id="Profile2">
<h5>I dream to become a great web developer an gave back to the society</h5>
<a href="Assets/images/SindhuBinil_Resume.pdf>Click to view my Resume</a>
<br>
</div>