<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 -->

<div class="container">
  <h1>Contact Me</h1>
</div>

<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>

<form class="row g-4">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputContactNumber" class="form-label">Contact Number</label>
    <input type="text" class="form-control" placeholder="Contact Number" aria-label="Contact Number">
  </div>
  <div class="col-12">
    <label for="inputComments" class="form-label">Comments</label>
    <input type="text" class="form-control" id="inputComments" placeholder="Write something..">
  </div>
   </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="card text-center">
  <div class="card-header">
    My Contact Info:
  </div>
  <div class="card-body">
    <h5 class="card-title">Sindhu Binil</h5>
    <p class="card-text">Tel: 437-218-4452, Email: sbtker@gmail.com</p>
      </div>
  <div class="card-footer text-muted">
    Please fill out the form above if you want me to reach out!
  </div>
</div>