<div class="container">
  <h1>Welcome to my Website!</h1>
</div>

<div class="box">
<img src="/Assets/images/Profile2.jpg" alt="My picture" class="box-img">
<h1 id="myname"> I am Sindhu Binil</h1>
<p id="biographytext"> I am a 3rd semester student of Software Engineering in Centennial College.
Click below to know more about me</p>
<a href="/about" class="btn btn-dark btn-lg">Click Here</a>
</div>